@using Model
@{
    ViewBag.Title = "人员列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = (List<GPSItem>)ViewBag.List;
    ViewBag.Menu = "CarList";
}

<div class="page-header">
    <h1>
        人员列表
    </h1>
</div><!-- /.page-header -->

<button class="btn btn-link" onclick="location.href='/Home/AddCar'">添加人员</button>

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">
                                    <label>
                                        <input type="checkbox" class="ace" name="userId" />
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th>姓名</th>
                                <th>编号</th>
                                <th class="hidden-480">最后更新时间</th>

                                <th>
                                    速度
                                </th>
                                <th>状态</th>

                                <th>
                                    经纬度
                                </th>

                                <th>
                                    项目
                                </th>
                                <th>操作</th>
                            </tr>
                        </thead>

                        <tbody>

                            @if (list.Count < 1)
                            {
                                <tr><td colspan="8" style=" text-align:center"> 暂无员工数据</td></tr>
                            }
                            else
                            {
                                foreach (var item in list)
                                {
                        <tr>
                            <td class="center">
                                <label>
                                    <input type="checkbox" class="ace" name="carId" value="@item.Id" />
                                    <span class="lbl"></span>
                                </label>
                            </td>

                            <td>
                                @item.CardNum
                            </td>
                            <td>
                                @item.Code
                            </td>
                            <td>
                                @item.LastUpdateTime
                            </td>
                            <td>
                                @item.Speed
                            </td>
                            <td>
                                @item.States
                            </td>

                            <td>
                                ( @item.Lat , @item.Lng )
                            </td>

                            <td>
                                 @item.Oil
                            </td>
                            <td>
                                <a href="/Home/Index?id=@item.Id" class="btn btn-default">查看轨迹</a>
                            </td>

                        </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /span -->
        </div><!-- /row -->
        <div class="row"><button class="btn btn-danger" id="deleteCar">删除人员</button></div>
    </div><!-- /.col -->
</div><!-- /.row -->
<script src="~/Content/js/jquery-2.0.3.min.js"></script>
<script src="~/Content/layer/layer.js"></script>
<script>

    $("#deleteCar").click(function () {
        var id = [];

        $('input:checkbox').each(function () {
            if ($(this).prop('checked') == true) {
                id.push($(this).val());
            }
        });
        if (id.length < 1) {
            alert("请选择至少一个人员！");
            return;
        }

        layer.confirm('请确认是否删除选中的人员？', {
            btn: ['确认', '取消'] //按钮
        }, function () {
            $.post("/Home/DeleteCarnum", { ids: id }, function (e) {
                if (e.Stutas) {
                    layer.msg("删除成功！", { icon: 1 }, function () {
                        location.reload();
                    });
                }
                else
                    layer.msg(e.Msg, { icon: 2 });
            }, "json");
        }, function () {
            layer.closeAll();
        });

    });

</script>